section(class='column hero is-success is-bold box') <!--is-warning or is-danger if there is an incident-->
                        div(class='hero-body')
                            div(class='container')
                                h1(class='title') Incidents
                                h2(class='subtitle') No new incidents
                                a(class='button is-dark is-outlined' href='Incidents') See latest
                    