html
    include includes/head.pug
    body
        include includes/navbar.pug
        .section
            .container
                .columns.is-desktop
                    .column
                        .box
                            h1(class='title') Incidents
                            
                    .column
                        .box
                            h1(class='title') Statistics
                            table.table.is-bordered.is-centered
                                    thead
                                        tr
                                            th Date
                                            th Temperature
                                    tbody
                                        - var n = 0;
                                        while n < 10
                                            tr
                                                td=temperature[n].date
                                                td=temperature[n].temp+"°C"
                                                - n++
                    .column
                        .box
                            h1(class='title') Settings
                            p Show some quick settings that are useful for easy access