html
    include includes/head.pug
    body
        include includes/navbar.pug
        .section
            .container
                .columns.is-desktop
                    .column
                        .box
                            h1(class='title') Incidents
                            p Last incident was at: 
                                =la.time
                    .column
                        .box
                            h1(class='title') Statistics
                            p Temperature at 
                                =temp.time + " was: " 
                                =temp.data +"°C"
                            p Humidity at 
                                =hum.time + " was: " 
                                =hum.data +"%"
                    .column
                        .box
                            h1(class='title') Is my car safe?
                            - if (safe.data === 1)
                                p.has-text-danger No, someone picked it up.
                            - else
                                p.has-text-succes Yes, no need to worry.