html
    include includes/head.pug
    body
        include includes/navbar.pug
        .section
            .container
                .columns.is-desktop
                    .column
                        .box
                            h1(class='title') Incidents
                            p Show latest incident and give a color based on good or something wrong
                    .column
                        .box
                            h1(class='title') Statistics
                            p Show a little graph?
                    .column
                        .box
                            h1(class='title') Settings
                            p Show some quick settings that are useful for easy access