html
    include includes/head.pug
    body
        include includes/navbar.pug
        .section
            .container
                .columns.is-desktop
                    .column
                        .box
                            h1(class='title') Incidents
                            
                    .column
                        .box
                            h1(class='title') Statistics
                            
                    .column
                        .box
                            h1(class='title') Settings
                            p Show some quick settings that are useful for easy access
                            div.field
                                input(id="switchOutlinedDefault" type="checkbox" name="switchOutlinedDefault" class="switch is-outlined is-success")
                                label(for="switchOutlinedDefault") Drive
