html
    include includes/head.pug
    script(src="/js/drive.js")
    body
        include includes/navbar.pug
        .section
            .container
                .box
                    h1(class='title') To go or not to go?
                    div.field
                        input(id="driveSwitch" type="checkbox" name="driveSwitch" class="switch is-outlined is-success")
                        label(for="driveSwitch") Go
                .box
                    h1(class='title') Get temperature and humidity at this moment.
                    div(class="button is-primary is-outlined", onclick='getValues()') GET THEM!
                    #values
                
            