html
    include includes/head.pug
    script(src='/js/moment.js')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/js/chart.js')
    body
        include includes/navbar.pug
        .section
            .container
                            .box
                                h1(class='title') Temperature
                                #tempchart            
                            .box
                                h1(class='title') Humidity
                                #humchart
                                    
                            .box
                                h1(class='title') Distance
                        
                            .box
                                h1(class='title') Incidents
                                p.has-text-weight-bold Latest accident: 
                                p=accidents[0].date
                                p.has-text-weight-bold Number of incidents: 
                                - var all = 0;
                                each val in accidents
                                    - all++
                                p=all