html
    include includes/head.pug
    script(src='/js/moment.js')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/js/chart.js')
    body
        include includes/navbar.pug
        .section
            .container
                            .box
                                h1(class='title') Temperature
                                #chart            
                            .box
                                h1(class='title') Humidity
                                table.table.is-bordered.is-centered
                                    thead
                                        tr
                                            th Date
                                            th Humidity
                                    tbody
                                        each val in humidity
                                            tr
                                                td=val.date
                                                td=val.hum+"%"
                                    
                            .box
                                h1(class='title') Distance
                        
                            .box
                                h1(class='title') Accidents